<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Make Notes</title>
  </head>
  <body>
    <header>
      <nav class="notes-choice">
        <button type="button" class="choice" (click)="getGenerateNotes()">Generate Notes</button>
        <button type="button" class="choice" (click)="getViewNotes()" >View Notes</button>
        <button type="button" class="choice" (click)="logout()">Logout</button>
      </nav>
    </header>

    <div *ngIf="generateNotes" class="form">
      <form (ngSubmit)="generateLink()">
        <label for="input-text">Text* : </label>
        <input
          [(ngModel)] = "enteredText"
          name="input-text"
          type="text"
          placeholder="Enter some text here"
          required
        />
        <br /><br />
        <label for="password">Password : </label>
        <input name="password" type="password" [(ngModel)] = "enteredPassword"/>
        <!-- <p class="password-msg">Give password to make your note password protected else leave it to make it a public note.</p> -->
        <br /><br />

        <div class="button-select-flex">
            <button type="submit" class="form-button">Generate Link</button>
    
            <select name="validationDuration" id="validationDuration" [(ngModel)] = "enteredDuration">
                <option value="once">Once</option>
                <option value="1hr">1 hr</option>
                <option value="8hr">8 hr</option>
                <option value="1day">1 day</option>
                <option value="1week">1 week</option>
                <option value="always">Always</option>
            </select>
        </div>

        <div *ngIf="noteLink">
          <h4>Note Link: <a target="_blank">{{ noteLink }}</a></h4>
          <button type="button" class="form-button" (click)="copyLink()">Copy link</button>
        </div>  

      </form>

      <div *ngIf="userNotes.length > 0">
        <h3>Your Notes : </h3>
        <ul>
          <li *ngFor="let note of userNotes">
            🔗 <a [href]="note.noteUrl" target="_blank">{{ note.noteUrl }}</a>
            <button type="button" class="form-button mynotes" (click)="copyLink()">Copy link</button>
          <span *ngIf="note.noteViewOnce"> - View Once</span>
          <span *ngIf="note.noteViewAlways"> - Always Visible</span>
          <span *ngIf="note.noteValidationTime"> - Expires at: {{ note.noteValidationTime | date }}</span>
          </li>
        </ul>
      </div>

    </div>



    <div *ngIf="viewNotes" class="form">
      <form>
        <label for="link">Link* : </label>
        <input
          [(ngModel)] = "noteLinkCredential"
          name="link"
          type="text"
          placeholder="Enter your link here"
          required
        />
        <br /><br />
        <label for="password">Password : </label>
        <input name="password" type="password" [(ngModel)] = "passwordCredential"/>
        <!-- <p class="password-msg">Enter password if the note is password protected, for public notes leave it.</p> -->
        <br /><br />
        <button type="submit" class="form-button" (click)="getNote()">Submit</button>

        <div *ngIf="noteText">
          <h4>Your note is :- {{ noteText }}</h4>
        </div>

        <!-- <div *ngIf="noteMsg">
          <h4>Error :- {{ noteMsg }}</h4>
        </div> -->
        <div *ngIf="noteMsg && !noteText" class="error">
          <h4>{{ noteMsg }}</h4>
        </div>
    </form>
</div>
</body>
</html>
